name: 'build'

on:
  push:

jobs:
  build:
    permissions:
        contents: read
        packages: write
        id-token: write
    name: 'Build'
    runs-on: ubuntu-latest
    steps:
      - name: "Build:checkout"
        uses: actions/checkout@v2
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v3
        with:
          context: .
          push: true
          tags: |
            ghcr.io/<user-name>/cosign-app:latest
      - name: Install Cosign
        uses: sigstore/cosign-installer@main
      - name: Sign the images with GitHub OIDC Token **not production ready**
        run: cosign sign ghcr.io/<username>/cosign-app:latest
        env:
          COSIGN_EXPERIMENTAL: true